<!-- Page Content -->
<div class="container">

    <div class="row">
        <div class="col-lg-12 text-center">
            <h1>Hello RDoer ;) </h1>
            <p class="lead">What you can do?</p>
            <ul class="list-unstyled">
                <li>Register contacts</li>
                <li>Seach zipcode using viacep services</li>
                <li>Filter contacts using some matchers</li>
                <li>Store your's filters</li>
            </ul>
        </div>
    </div>
    <!-- /.row -->

</div>
<!-- /.container -->
