<div class="modal show" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title text-center" >RDRV - Login</h1>
      </div>
      <div class="modal-body">
      <%= render 'layouts/messages' %>
      
      <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="form-inputs">
          <%= f.input :email, required: false, autofocus: true %>
          <%= f.input :password, required: false %>
        </div>

        <div class="form-actions text-center">
          <button type="submit" class="btn btn-primary btn-lg btn-block">Log in</button>
          <% f.button :submit, "Log in" %>
        </div>
      <% end %>
      <br>
      </div>
    </div>
  </div>
</div>